<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blog_web_app</title>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/personal.css">
</head>
    <body>
        <div class="ui inverted menu">
            <a class="red item" href="/">
              Home
            </a>
            <a class="red item" href="/blogs">
              Blog
            </a>
            <a class="red item" href="/blogs/new">
              New post
            </a>
            <div class="right menu">
            <%  if(!currentUser){ %>
              <a class="red item" href="/register">
                Sign up
              </a>
              <a class="red item" href="/login">
                Login
              </a>
            <%}else{%>
              <a class="red item" href="#">Signed in as <%=currentUser.username %></a>
              <a class="red item" href="/logout">
                Logout
              </a>
            <%}%>
          </div>
        </div> 
