body{
    background-color:rgb(42, 72, 240);
    min-height: 100%;
    
}
a{
    font-size: 1.7em;
}
#blogdiv{
    width: 60%;
    margin: 2% auto;
}

h1{
    text-align: center;
    padding-bottom: 40px;
}
p{
    margin-top: 40px;
}

#delete{
    display: inline;
}
#padd{
    padding-top: 1%;
}
#rightcenter{
    text-align: right;
}
#size{

    min-width: 80%;
}
.ui.divided.items>.item {
    min-height: 15%;
}
#firstheader{
    width: 70%;
    margin: 10% auto;
    text-align: center;
    justify-content: center;
}
.ui.raised.segment{
    opacity: 0;
    animation: 2s fadein 0.8s forwards;
   
}
@keyframes fadein {
	100% {
		opacity: 1;
		margin: 10% auto;
	}
}
.loginregister{
    text-align: center;
}
/* style for flash messages*/
.flash{
    margin: 2% auto !important;
    text-align: center;
    max-width: 60%;
}
@media only screen and (max-width: 730px) {
    .ui.raised.segment {
        min-width: 100%;
        font-size: 20px;
    }
    .description{
        font-size: 18px;
    }
    .ui.top.attached.segment{
        font-size: 18px; 
    }
    .ui.inverted.stackable.menu{
        min-height: 12%;
        text-align: center;
    }
}